@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
    --color-primary: #93d60c;
    --transition: 0.3s ease;
}

.improved-contrast {
    --color-primary: #10620b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

section {
    margin-bottom: 5rem;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img:not(.carousel__img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.u-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.u-container-sm {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.u-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.u-svg {
    display: none;
}

/* --------------------------------------- */

.layout-intro {
    background-image: 
        linear-gradient(#000000bb,#000000bb),
        url(img/background-hero.jpg);
}

/* --------------------------------------- */

.header__nav-utility {
    background-color: black;
}

.nav-utility__links-list {
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-utility__list-item {
    display: inline-block;
}

.nav-utility__link {
    display: block;
    color: rgb(241, 241, 241);
    padding: 10px 15px;
    font-size: 0.9rem;
}

/* --------------------------------------- */

.nav-main__links-list {
    display: none;
}

/* .nav-main__links-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main__link {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 15px;
    transition: var(--transition);
    border-bottom: 3px solid #00000000;
}

.nav-main__link:hover {
    color: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
}

.nav-main__logo img {
    width: 100px;
    padding: 10px 0;
} */

/* --------------------------------------- */

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
}

.hero__title {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.hero__title span {
    color: var(--color-primary);
    display: block;
    font-weight: 600;
}

.hero__catchphrase {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

.hero__order-link {
    color: white;
    margin: 0 auto;
    padding: 15px 55px;
    display: block;
    width: fit-content;
    border-radius: 10px;
    text-transform: capitalize;
    border: 2px solid var(--color-primary);
}

/* --------------------------------------- */

.benefits__title {
    font-size: 2.2rem;
    text-align: center;
    max-width: 600px;
    margin: auto;
    font-weight: 600;
}

.benefits__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 5rem 0;
}

@media screen and (min-width:700px) {
    .benefits__grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:900px) {
    .benefits__grid {
        grid-template-columns: repeat(3,1fr);
    }
}

.benefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.benefits__card svg, .benefits__card h3, .benefits__card p {
    margin-bottom: 1.5rem;
}

.benefits__card svg {
    color: var(--color-primary);
    width: 100px;
    height: auto;
}

.benefits__card h3 {
    text-align: center;
    font-size: 1.6rem;
}

.benefits__card p {
    text-align: center;
}

.benefits__card a {
    text-transform: uppercase;
    text-decoration: underline 2px rgb(185, 185, 185);
    font-weight: 700;
    color: black;
    margin-top: auto;
}

/* --------------------------------------- */

.our-team {
    background-image: 
        linear-gradient(#000000bb,#000000bb),
        url(img/background-team-section.jpg);
    padding: 4rem 0;
    margin-bottom: 5rem;
}

.our-team__texts {
    color: white;
    margin-bottom: 3rem;
    width: 100%;
}

.our-team__span, .our-team__title {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: block;
}

.our-team__title {
    color: var(--color-primary);
}

.our-team__image {
    width: 100%;
    aspect-ratio: 1/1; /* ratio de l'image : 2/1 -> paysage ; 1/2 -> portrait ; 1/1 -> carré ; n'importe quelle valeur possible */
    overflow: hidden;
    margin-bottom: 3rem;
}

@media screen and (min-width: 800px) {
    .our-team__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .our-team__image {
        width: 45%;
        margin-bottom: 0;
    }
}

@media screen and (min-width:1000px) {
    .our-team__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .our-team__texts {
        max-width: 300px;
        margin-bottom: 0;
    }
    .our-team__image {
        max-width: 300px;
        margin-bottom: 0;
    }
}

/* --------------------------------------- */

.selling-point {
    margin-bottom: 5rem;
}

.selling-point__img-wrapper {
    display: none;
}

.selling-point__title {
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.selling-point__span {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color-primary);
    font-weight: 600;
}

.selling-point__p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
    .selling-point {
        display: flex;
        justify-content: space-between;
    }
    .selling-point__img-wrapper {
        display: block;
        width: 36%;
        aspect-ratio: 2.5/3;
    }
    .selling-point__texts {
        width: 56%;
    }
}

/* --------------------------------------- */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.portfolio__title {
    margin-bottom: 8px;
    font-size: 1.6rem;
}

.portfolio__span {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 2rem;
}

.portfolio__carousel {
    position: relative;
    padding: 10px 30px;
}

.carousel__wrapper {
    overflow: hidden;
    user-select: none;
}

.carousel__slider {
    display: flex;
    transition: 0.5s ease;
}

.carousel__left-arrow, .carousel__right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000000;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    color: gray;
    z-index: 2;
}

.carousel__left-arrow {
    left: 0;
}

.carousel__right-arrow {
    right: 0;
}

.carousel__element {
    min-width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__element:hover {
    background-color: rgb(243, 243, 243);
}

.carousel__img {
    width: 60%;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    .carousel__element {
        min-width: calc(100% / 3);
    }
}

/* --------------------------------------- */

.quote {
    background-image: 
        linear-gradient(#000000bb,#000000bb),
        url(img/background-quote.jpg);
    padding: 4rem 0;
}

.quote__p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    line-height: 40px;
}

/* --------------------------------------- */